* {
  position: relative;
  box-sizing: border-box;
}

html,
body,
h1, h2, h3, h4, h5, h6,
menu {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

button {
  border: none;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
